body { 
    margin: 0px;
    padding: 0px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
   }
   
   #siteContent {
    padding: 0px;
    border: 0px;
   }
   
   #container { 
    border: 1px;
    margin: 0 200px;
    text-align: center;
   }
   
   .hide {
    display: none
     }

 
   

   .cell-color {
    background-color: palegoldenrod;
    width: auto;
    height: auto;
   }

#yourCard, #P1Flag, #oppCard, #P2Flag {
    border-radius: 25px;
}