/* toptrumps.css  source: Peter Bonnett & http://www.jacobites.org.uk/iwb/top_trumps/index.html*/

/* sets the font style, centers the text, sets the width for elements with the "cards" class,*/
/* and centers the element horizontally within its parent element */
.cards {
  font: normal normal 500 small arial, sans-serif;
  text-align: center;
  width: 46em;
  margin: 0 auto;
}

/* targets paragraphs within elements with the "left" or "right" class that are descendants of elements with the "cards" class */
/* specifies that no floated element should be allowed to appear on the left or right side of the targeted element */
/* sets the height of targeted elements */
.cards .left p,
.cards .right p {
  clear: both;
  height: 1.5em;
}

/* floats the party logos to the right */
#P1Flag,
#P2Flag {
  float: right;
}

/* adds border to image in card */
.cards img {
  border: 1px solid #000;
}

/* add a border to image in card */
#oppCard {
  padding: 5px;
  border: 1px solid #000;
  width: 47%;
  background-color: rgb(255, 255, 255);
  color: black;
  float: right;
}

#yourCard {
  padding: 5px;
  border: 1px solid #000;
  width: 47%;
  float: left;
  background-color: rgb(255, 255, 255);
  color: black;
}

/* further styling of cards*/
#yourCards,
#oppCards,
#mainCards {
  padding-top: 15px;
  font-weight: bold;

}

/* additional styling for cards */
#matchResult {
  clear: both;
  height: 1.5em;
  font-weight: bold;
}

/* targets table cells and headers within tables within elements with the "cards" class */
.cards table {
  margin: 0;
  padding: 0;
  width: 22em;
}

/* styling where the attributes are in the card */
.cards table td,
.cards table th {
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: middle;
  line-height: 2.5em;
}

/* styles the compare buttons, adding background styles, border styles and  */

#compareButton {
  background-clip: padding-box;
  background-color: rgb(57, 107, 158);
  background-image: linear-gradient(rgb(95, 156, 197), rgb(57, 107, 158));
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto auto;
  border-bottom-color: rgb(4, 64, 98);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color: rgb(4, 64, 98);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(4, 64, 98);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(4, 64, 98);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px 0px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  left: 5px;
  margin-bottom: 0px;
  margin-left: 40%;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgb(25, 75, 126) 0px 1px 1px;
  top: 3px;
  vertical-align: middle;
  z-index: 10;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -moz-text-blink: none;
  -moz-text-decoration-color: rgb(255, 255, 255);
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: solid; 
}

/* styling the background, and adding font to text */
body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(-45deg, #a33412, #f80000, #23a6d5, #23d5ab);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* This targets the element with an ID of "siteContent" and sets its padding and border to 0 pixels */
#siteContent {
  padding: 0px;
  border: 0px;
}

/* makes sure the hide element in the html bit works */
.hide {
  display: none
}


#container {
  margin: 50px;
}

/*adding colour to different cells so card can seem more professional */
.cell-color {
  background-color: palegoldenrod;
  width: auto;
  height: auto;
}

/*styling the cards bu adding a border radius */
#yourCard,
#P1Flag,
#oppCard,
#P2Flag {
  border-radius: 25px;
}